*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size:24px;
}
.container{
    display:flex;
    flex-wrap:wrap;
    width: 550px;
    height:825px;
    justify-content: center;
    background-color: gray;
    border-radius: 15px;
}

button{
    height: 95px;
    width: 95px;
    margin:15px;
    border-radius: 15px;
}

#clear, #delete{
    width: 220px;
    margin-top:0;
}

.screen{
    width:475px;
    height:150px;
    background-color: aquamarine;
    margin:25px;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 48px;
}